.color-fff {
  color: #fff; }

.color-aaa {
  color: #aaa; }

.color-ddd {
  color: #ddd; }

.color-eee {
  color: #eee; }

.color-blue {
  color: #68ADFA; }

.color-ff0 {
  color: #ff0000; }

.color-red {
  color: #FF4D6B; }

.color-f6 {
  color: #F6F6F6; }

.color_8f {
  color: #8f8f8f; }

.color-be {
  color: #bebebe; }

.color-e7 {
  color: #e7e7e7; }

.color_2c {
  color: #2c2c2c; }

.color_000 {
  color: #000; }

.color_333 {
  color: #333; }

.color_444 {
  color: #444; }

.color_555 {
  color: #555; }

.color_666 {
  color: #666; }

.color_777 {
  color: #777; }

.color_7b {
  color: #7b7b7b; }

.color_83 {
  color: #838383; }

.color_95 {
  color: #959595; }

.color_999 {
  color: #999; }

.color_0079FF {
  color: #0079FF; }

.color_9f {
  color: #9f9f9f; }

.color-ba {
  color: #bababa; }

.color-ae {
  color: #aeaeae; }

.bg-color-fff {
  background-color: #fff; }

.bg-color-ea {
  background-color: #eaeaea; }

.bg-color-aaa {
  background-color: #aaa; }

.bg-color-blue {
  background-color: #68ADFA; }

.bg-color-ff0 {
  background-color: #ff0000; }

.bg-color-red {
  background-color: #FF4D6B; }

.bg-color-f3 {
  background-color: #f3f3f3; }

.bg-color-f4 {
  background-color: #F4F4F4; }

.bg-color-f6 {
  background-color: #F6F6F6; }

.bg-color-fb {
  background-color: #FBFBFB; }

.bg-color-f9 {
  background-color: #F9F9F9; }

.bg-color-be {
  background-color: #bebebe; }

.bg-color-ddd {
  background: #ddd; }

.bg-color-eee {
  background: #eee; }

.bg-color-e6 {
  background: #e6e6e6; }

.bg-color-ef {
  background: #efefef; }

.bg-color-f8 {
  background-color: #f8f8f8; }

.bg-color-ff4d6b {
  background: #ff4d6b; }

.bg-color-ffb900 {
  background-color: #FFB900; }

.bg-color_333 {
  background-color: #333; }

.bg-color_444 {
  background-color: #444; }

.bg-color_555 {
  background-color: #555; }

.bg-color_777 {
  background-color: #777; }

.bg-color_888 {
  background-color: #888; }

.bg-color-rgba_000_5 {
  background: rgba(0, 0, 0, 0.5); }
